#chart svg {
    height: 400px;
    width: auto;
}
#card {
    border: solid;
    border-radius: 20px;
    background-color: #bbdfff;
}
.container-fluid * {
    gap: 5px;
}
.table * {
    text-align: center;
}