#chart svg {
    height: 400px;
    width: auto;
}
#card {
    border: solid;
    border-radius: 10px;
    background-color: #bbdfff;
    overflow: hidden;
}
.container-fluid * {
    gap: 5px;
}
.container-fluid > .row {
    margin-inline: 10px;
}
.table * {
    text-align: center;
}