{% extends 'base.html' %}

<!-- JavaScript Variables -->
{% block variable %} 

    <script>
        var nbUsers = '{{ nbUsers[0] }}';
    </script> 

{% endblock %}

{% block content %}

    <h1>{% block title %} Dashboard {% endblock %}</h1>
    <div class="container-fluid">
        <div id="card">
            <canvas id="myChart"></canvas>
        </div>
        <div id="card">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Creation</th>
                    <th>Settings</th>
                </tr>
                </thead>
        
            {% for user in users %}
                <tbody>
                <tr>
                    <th>{{ user['id'] }}</th>
                    <td>{{ user['username'] }}</td>
                    <td>{{ user['password'] }}</td>
                    <td>{{ user['created'] }}</td>
                    <td>
                        <a href="{{ url_for('edit', id=user['id']) }}">
                            <span class="badge badge-warning">Edit</span>
                        </a>
                        <a href="{{ url_for('delete', id=user['id']) }}" onclick="return confirm('Are you sure you want to delete this user?')">
                            <span class="badge badge-danger">Delete</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </div>
    </div>
      
{% endblock %}