{% extends 'base.html' %}

{% block variable %} 

    <!-- JavaScript Variable -->
    <script>
        var nbUsers = '{{ nbUsers[0] }}';
    </script> 

{% endblock %}

{% block content %}

    <h1>{% block title %} Index {% endblock %}</h1>
    <p>Numbers of users: {{ nbUsers[0] }}</p>
    <div class="container-fluid">
        <div id="card">
            <svg></svg>
        </div>
        <div id="card">
            <canvas id="myChart"></canvas>
        </div>
    </div>
      
{% endblock %}